// Japanese Translation courtesy of Mikeore

Localization
{
  ja
  {

    #LOC_NFSolar_Version = Near Future Solar 1.2.0
    /// SUBCATEGORIES
    #LOC_NFSolar_Subcategory_blanketPanels = 軽量太陽電池パネル
    #LOC_NFSolar_Subcategory_staticPanels = 固定式太陽電池パネル

    /// CONFIG
    /// MANUFACTURERS
    #LOC_NFSolar_manufacturer_okeb_title = カーバル電気毛布製造協会
    #LOC_NFSolar_manufacturer_ktk_title = カバール・テックシステムズ

    #LOC_NFSolar_switcher_cell_title = セルタイプ

    #LOC_NFSolar_switcher_cell_basic_title = 基本型セル
    #LOC_NFSolar_switcher_cell_basic_summary = 
    #LOC_NFSolar_switcher_cell_basic_detail = 基本型セルは適度な重さと費用と引き換えにバランスの良い電力を出力します。

    #LOC_NFSolar_switcher_cell_adv_title = 先進型セル
    #LOC_NFSolar_switcher_cell_adv_summary = <color=#00ff0c>+30% 出力</color>, <color=#ff0000>+25% 質量, +35% コスト</color>
    #LOC_NFSolar_switcher_cell_adv_detail = 先進型セルは財布の中身と引き換えに面積当たりの電力をより多く出力します。

    #LOC_NFSolar_switcher_cell_concentrating_title = 集光型セル
    #LOC_NFSolar_switcher_cell_concentrating_summary = <color=#00ff0c>+75% 出力</color>, <color=#ff0000>+85% 質量, +110% コスト</color>
    #LOC_NFSolar_switcher_cell_concentrating_detail = 集光型セルは面積当たりの電力が効率が最高ですが、かなり重いです。

    #LOC_NFSolar_variant_truss = トラス
    #LOC_NFSolar_variant_flat = フラット
    #LOC_NFSolar_variant_shroud = シュラウド
    #LOC_NFSolar_variant_bare = 無加工
    #LOC_NFSolar_variant_white = ホワイト

    #LOC_NFSolar_variant_metal = メタル

    //// NEW PARTS
    // ADVANCED
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x2-mro-1_title = K2 1x2 "リコーン" 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x2-mro-1_description = この太陽発電パネルには収納する機能などはありませんが、舌でペロッと舐めると心地よい電流が流れる機能があります。
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x2-mro-1_tags = charge deploy e/c elect energ extend generat (light panel photo power sun track unfold volt watt nearfuture advanced mro mars recon

    #LOC_NFSolar_nfs-panel-deploying-advanced-1x3-orion-1_title = K5 1x3 "アクィラ" 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x3-orion-1_description = このパネルには先進型セルが埋め込まれていますが、収納機能を削減したことにより非常に軽量です。くしゃみをかけないでください。
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x3-orion-1_tags = charge deploy e/c elect energ extend  generat (light panel photo power sun track unfold volt watt nearfuture advanced orion esa atv

    #LOC_NFSolar_nfs-panel-deploying-advanced-1x3-orion-2_title = K5-R "アクィラ-R" 1x3 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x3-orion-2_description = このパネルは収納機能を追加した"アクィラ"シリーズの姉妹バージョンです。
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x3-orion-2_tags = charge deploy e/c elect energ extend fold generat (light panel photo power retract sun track unfold volt watt nearfuture advanced shroud cover orion esa atv

    #LOC_NFSolar_nfs-panel-deploying-advanced-1x4-dragon-1_title = K7 "ゲッコー" 1x4 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x4-dragon-1_description = この太陽発電パネルには先進型セルで構成されています。もちろんすべての先進型セル採用パネルと同じように、基本型セルを採用したパネルと比べて電力が約50％増加します。再収納することはできません。
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x4-dragon-1_tags = charge deploy e/c elect energ extend generat (light panel photo power sun track unfold volt watt nearfuture advanced dragon

    #LOC_NFSolar_nfs-panel-deploying-advanced-1x4-dragon-2_title = K7-R "ゲッコ-R" 1x4 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x4-dragon-2_description = たまにパネルを収納する必要があるような小型宇宙船向けに開発されたパーツです。
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x4-dragon-2_tags = charge deploy e/c elect energ extend fold generat (light panel photo power retract sun track unfold volt watt nearfuture advanced shroud cover dragon

    #LOC_NFSolar_nfs-panel-deploying-advanced-1x5-dawn-1_title = K14 "サンライズ" 1x5 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x5-dawn-1_description =  この高機能で軽量な太陽発電パネルは破産するほど高価でもなく、さらにこのパネルを背負ったカーバルたちの腰を壊すこともなく適度な電力を出力します。まさに財務部門と人事部門にとってWin-Winのパーツです。再収納はできません。
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x5-dawn-1_tags =  charge deploy e/c elect energ extend generat (light panel photo power  sun track unfold volt watt nearfuture advanced dawn

    #LOC_NFSolar_nfs-panel-deploying-advanced-1x5-goes-1_title = K22 "オブザーバー" 1x5 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x5-goes-1_description = 電力に飢えた宇宙船や権力に飢えた政府向けに、同社のエンジニア達はより大きく強力な太陽発電パネルを開発しました。再収納はできません。 
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x5-goes-1_tags = charge deploy e/c elect energ extend generat (light panel photo power sun track unfold volt watt nearfuture advanced goes goes-r

    #LOC_NFSolar_nfs-panel-deploying-advanced-2x20-hub-1_title = K55-A "メガ・ラドール" 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-2x20-hub-1_description = 「現在入手できる中で最も大きい太陽発電パネル」という謳い文句で開発された「ジャイガンターXLソーラーアレイ」に異議を唱えるために開発されたこの太陽発電パネルは、とても大きく壊れやすいという特徴があります。しかしそのデメリットを無視すれば先進型セルが大量に詰め込めれた太陽発電パネルとして使用できます。再収納はできません。
    #LOC_NFSolar_nfs-panel-deploying-advanced-2x20-hub-1_tags = charge deploy e/c elect energ extend generat (light panel photo power sun track unfold volt watt nearfuture advanced orbital hub

    #LOC_NFSolar_nfs-panel-deploying-advanced-2x6x6-lab-1_title = K40-AR "オール" 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-2x6x6-lab-1_description = このパネルに搭載された先進型セルは様々な用途に使える程度の電力を出力します。もうオールなしの宇宙飛行は考えられません！強化された構造により収納も可能です。
    #LOC_NFSolar_nfs-panel-deploying-advanced-2x6x6-lab-1_tags = charge deploy e/c elect energ extend generat (light panel photo power sun track unfold fold retract volt watt nearfuture advanced

    #LOC_NFSolar_nfs-panel-deploying-advanced-3x1-tdrss-1_title = K4 3x1 "リレー" 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-3x1-tdrss-1_description = このパネルは通信衛星や探索機に少しの電力をもたらします。大きなブームにより宇宙船との適度な距離を生み出すことが可能です。再収納はできません。
    #LOC_NFSolar_nfs-panel-deploying-advanced-3x1-tdrss-1_tags = charge deploy e/c elect energ extend  generat (light panel photo power sun track unfold volt watt nearfuture advanced tdrss

    #LOC_NFSolar_nfs-panel-deploying-advanced-3x1-hayabusa-1_title = K10-FR "サッチャー" 3x1 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-3x1-hayabusa-1_description = 優秀な太陽発電パネルです。太陽を追跡する機能はありません。 
    #LOC_NFSolar_nfs-panel-deploying-advanced-3x1-hayabusa-1_tags = charge deploy e/c elect energ extend  generat (light panel photo power sun track unfold volt watt nearfuture advanced hayabusa fold retract

    #LOC_NFSolar_nfs-panel-deploying-advanced-1x1-ikonos-1_title = K0x7-FR "イメージャー" 1x1 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x1-ikonos-1_description = 先進型セルを備えた太陽発電パネルです。太陽を追跡する機能はありません。
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x1-ikonos-1_tags = charge deploy e/c elect energ extend  generat (light panel photo power sun track unfold volt watt nearfuture advanced ikonos fold retract

    #LOC_NFSolar_nfs-panel-deploying-advanced-3x1-wv3-1_title = K3 "グローブ" 3x1 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-3x1-wv3-1_description = 展開機能を備えたパネルです。再収納することはできません。
    #LOC_NFSolar_nfs-panel-deploying-advanced-3x1-wv3-1_tags = charge deploy e/c elect energ extend  generat (light panel photo power sun track unfold volt watt nearfuture advanced worldview 3

    #LOC_NFSolar_nfs-panel-deploying-advanced-1x2-wv4-1_title = K4-FR 1x2 "グローブ-4" 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x2-wv4-1_description = 旋回機能を犠牲にして質量を減らしたこのパネルはそれなりの電力を出力します。太陽を追跡する機能はありません。
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x2-wv4-1_tags = charge deploy e/c elect energ extend  generat (light panel photo power sun track unfold volt watt nearfuture advanced worldview 4 fold retract

    #LOC_NFSolar_nfs-panel-deploying-advanced-1x1-messenger-1_title = K3x75 "エルメス" 3x1 先進太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x1-messenger-1_description = 四角くてシンプルなパネルですが、それゆえに人気はありません。再収納することはできません。
    #LOC_NFSolar_nfs-panel-deploying-advanced-1x1-messenger-1_tags = charge deploy e/c elect energ extend  generat (light panel photo power sun track unfold volt watt nearfuture advanced messenger

    // BLANKET
    #LOC_NFSolar_nfs-panel-deploying-blanket-arm-1_title = OKEB-150R "ハロ" 円形太陽電池ブラケットアレイ
    #LOC_NFSolar_nfs-panel-deploying-blanket-arm-1_description = カーバル電気毛布製造協会（OKEB）は新型の円形展開技術を使用し、とても小さな設置面積から巨大な太陽発電パネルを展開することを可能にしました。複数回の展開と収納に十分耐えうるだけの強度を備えています。
    #LOC_NFSolar_nfs-panel-deploying-blanket-arm-1_tags = charge deploy e/c elect energ extend fold retract generat (light panel photo power sun track unfold volt watt nearfuture  big advanced tug asteroid ARM retrieval blanket megaflex

    #LOC_NFSolar_nfs-panel-deploying-blanket-bfs-1_title = OKEB-75R "シリウス" 太陽電池ブラケットアレイ
    #LOC_NFSolar_nfs-panel-deploying-blanket-bfs-1_description = この扇形の太陽電池アレイはファンとしては機能せず、前後に小刻みに動かしても冷却することはありません。適度な大きさのボックスに収納することが可能です。
    #LOC_NFSolar_nfs-panel-deploying-blanket-bfs-1_tags =charge deploy e/c elect energ extend retract fold generat (light panel photo power sun track unfold volt watt nearfuture  big advanced spacex its mct bfr blanket

    #LOC_NFSolar_nfs-panel-deploying-blanket-copernicus-1_title = OKEB-15 "コペルニクス" 太陽電池ブラケットアレイ
    #LOC_NFSolar_nfs-panel-deploying-blanket-copernicus-1_description = 「ノーチラス」をよりコンパクトにし、無駄を省いた（ハサミ付き！）バージョンです。再収納はできません。
    #LOC_NFSolar_nfs-panel-deploying-blanket-copernicus-1_tags = charge deploy e/c elect energ extend generat (light panel photo power sun track unfold volt watt nearfuture  blanket copernicus nautilus solo

    #LOC_NFSolar_nfs-panel-deploying-blanket-dsg-1_title = OKEB-100 "ゲートウェイ" 太陽電池ブラケットアレイ
    #LOC_NFSolar_nfs-panel-deploying-blanket-dsg-1_description = カーバル電気毛布製造協会（OKEB）は最新の技術を導入し、標準的なブラケットアレイをコンパクトにパッケージ化しました。再収納はできません。
    #LOC_NFSolar_nfs-panel-deploying-blanket-dsg-1_tags = charge deploy e/c elect energ extend generat (light panel photo power sun track unfold volt watt nearfuture big blanket dsg deep space gateway lop gee

    #LOC_NFSolar_nfs-panel-deploying-blanket-dst-1_title = OKEB-250 "アレス" 太陽電池ブラケットアレイ
    #LOC_NFSolar_nfs-panel-deploying-blanket-dst-1_description = この巨大な太陽電池ブラケットアレイは4つに分けた個別の翼それぞれに展開技術を使用しています。伸縮可能なブームにより宇宙船との間に適度な距離が生まれます。ただし強度は保証されていません。再収納はできません。
    #LOC_NFSolar_nfs-panel-deploying-blanket-dst-1_tags = charge deploy e/c elect energ extend generat (light panel photo power sun track unfold volt watt nearfuture big blanket dst deep space transport

    #LOC_NFSolar_nfs-panel-deploying-blanket-nautilus-1_title = OKEB-45 "ノーチラス" 太陽電池ブラケットアレイ
    #LOC_NFSolar_nfs-panel-deploying-blanket-nautilus-1_description = ノーチラスは効率の良い発電を実現するため、ペアになった太陽電池ブラケットを3枚搭載しています。非常に可動域のあるブームにより宇宙船との間に距離がうまれ、取り付けの選択に幅が出るでしょう。再収納はできません。
    #LOC_NFSolar_nfs-panel-deploying-blanket-nautilus-1_tags =charge deploy e/c elect energ extend generat (light panel photo power sun track unfold volt watt nearfuture  blanket copernicus nautilus trio

    #LOC_NFSolar_nfs-panel-deploying-blanket-orion-1_title = OKEB-4R 円形 太陽電池ブラケットアレイ
    #LOC_NFSolar_nfs-panel-deploying-blanket-orion-1_description = 66％以上の屈曲性能を備えた太陽電池アレイにより小型化を達成したこのパネルは、多様な取り付けを可能にします。非常に軽量です。
    #LOC_NFSolar_nfs-panel-deploying-blanket-orion-1_tags = charge deploy e/c elect energ extend fold generat (light panel photo power retract sun track unfold volt watt nearfuture  orion cygnus ultraflex blanket

    #LOC_NFSolar_nfs-panel-deploying-blanket-starship-1_title = OKEB-25R "スターシップ" 太陽電池ブラケットアレイ
    #LOC_NFSolar_nfs-panel-deploying-blanket-starship-1_description = 「スターシップ」と「スペースシップ」の違いは純粋に商業的な理由ですが、このパネルは宇宙船全体の必要電力を賄うことが可能です。給水塔の作業員がこのアレイを組み立てていますが、特に心配する必要はありません。彼らの作業はとても素早く、また壊すときも同様に素早いと評判です。
    #LOC_NFSolar_nfs-panel-deploying-blanket-starship-1_tags = charge deploy e/c elect energ extend retract fold generat (light panel photo power sun track unfold volt watt nearfuture big advanced spacex starship blanket boondoggle water tower

    #LOC_NFSolar_nfs-panel-deploying-blanket-drm-1_title = OKEB-500 "タイタン" 太陽電池ブラケットアレイ
    #LOC_NFSolar_nfs-panel-deploying-blanket-drm-1_description = このモデルは効率では小型パネルには敵いませんが、独自の製法により安価かつ軽量です。再収納はできません。
    #LOC_NFSolar_nfs-panel-deploying-blanket-drm-1_tags = charge deploy e/c elect energ extend  generat (light panel photo power sun track unfold volt watt nearfuture blanket moar drm

    // CONCENTRATOR
    #LOC_NFSolar_nfs-panel-deploying-concentrator-1x4-juno-1_title = K12-K 1x4 集光太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-concentrator-1x4-juno-1_description = カーバル技術の集大成がこの集光型セルを採用した太陽発電パネルです。このパネルは日光を拡張型セルに集中し、狭い面積で高い効率の発電を実現します。再収納はできません。
    #LOC_NFSolar_nfs-panel-deploying-concentrator-1x4-juno-1_tags = charge deploy e/c elect energ extend generat (light panel photo power  sun track unfold volt watt nearfuture  concentrat juno

    #LOC_NFSolar_nfs-panel-deploying-concentrator-1x3x1-juice-1_title = K20-K 1+2+1 集光太陽発電パネル
    #LOC_NFSolar_nfs-panel-deploying-concentrator-1x3x1-juice-1_description = 集光型太陽発電パネルを拡張したパネルです。再収納はできません。
    #LOC_NFSolar_nfs-panel-deploying-concentrator-1x3x1-juice-1_tags = charge deploy e/c elect energ extend generat (light panel photo power sun track unfold volt watt nearfuture  concentrat juice

    // CURVED DEPLOYING
    #LOC_NFSolar_nfs-panel-deploying-curved-25-1_title = NIV-10-R 拡張湾曲太陽電池アレイ
    #LOC_NFSolar_nfs-panel-deploying-curved-25-1_description = NIV太陽電池アレイシリーズは未展開時に非常に小型で見た目もカッコいいという特徴があります。ただし発電効率の最大化を目指すならば最適な選択肢ではないかもしれません。おまけとして空力シュラウドが付属します。
    #LOC_NFSolar_nfs-panel-deploying-curved-25-1_tags = charge deploy e/c elect energ extend fold generat (light panel photo power retract sun track unfold volt watt nearfuture advanced curve

    #LOC_NFSolar_nfs-panel-deploying-curved-375-1_title = NIV-75-R 拡張湾曲太陽電池アレイ
    #LOC_NFSolar_nfs-panel-deploying-curved-375-1_description = 半径10メートルにわたる設置面積により、そこそこのコストと重さでそこそこの電力を出力します。
    #LOC_NFSolar_nfs-panel-deploying-curved-375-1_tags = charge deploy e/c elect energ extend fold generat (light panel photo power retract sun track unfold volt watt nearfuture advanced curve

    // STATIC
    #LOC_NFSolar_nfs-panel-static-truss-1_title = KX-STAT-8 1x4 拡張太陽発電トラス
    #LOC_NFSolar_nfs-panel-static-truss-1_description = 「PX-STAT」を2つ溶接？恐ろしいことに、トラスバージョンとフラットバージョンもあります。
    #LOC_NFSolar_nfs-panel-static-truss-1_tags = array charge e/c elect energ fixed flat generat (light photo power solar static sun volt watt nearfuture

    #LOC_NFSolar_nfs-panel-static-truss-2_title = KX-STAT-4 1x2 先進太陽発電トラス
    #LOC_NFSolar_nfs-panel-static-truss-2_description = 評判の高い「OX-STAT」シリーズ引き継いだ「KX-STAT」シリーズは固定式太陽発電市場の主導権を取り返そうという意欲にあふれる製品です。トラス取り付けタイプとフラット取り付けタイプがあります。
    #LOC_NFSolar_nfs-panel-static-truss-2_tags = array charge e/c elect energ fixed flat generat (light photo power solar static sun volt watt nearfuture

    #LOC_NFSolar_nfs-panel-static-truss-3_title = KX-STAT-2 1x1 先進太陽発電トラス
    #LOC_NFSolar_nfs-panel-static-truss-3_description = 単体の先進太陽発電パネルです。トラス取り付け型とフラット取り付けタイプがあります。
    #LOC_NFSolar_nfs-panel-static-truss-3_tags = array charge e/c elect energ fixed flat generat (light photo power solar static sun volt watt nearfuture

    // CURVED
    #LOC_NFSolar_nfs-panel-static-curved-25-1_title = NIV-30 湾曲太陽電池アレイ
    #LOC_NFSolar_nfs-panel-static-curved-25-1_description = いつかロケット全面に太陽発電パネルをスプレー塗装したいと考えている人のための製品です。とりあえず今の最善はこのパーツのように接着剤を使ったものです。
    #LOC_NFSolar_nfs-panel-static-curved-25-1_tags = array charge e/c elect energ fixed flat generat (light photo power solar static sun volt watt curve nearfuture

    #LOC_NFSolar_nfs-panel-static-curved-375-1_title = NIV-45 湾曲太陽電池アレイ
    #LOC_NFSolar_nfs-panel-static-curved-375-1_description = 完全に湾曲した太陽発電パネルを開発するのは並大抵のことではありませんでした。「カバール・テックシステムズ」関係者の話によると、平面パネルと「ほぼ」同じように機能するようです。
    #LOC_NFSolar_nfs-panel-static-curved-375-1_tags = array charge e/c elect energ fixed flat generat (light photo power solar static sun volt watt curve nearfuture

    /// PLUGINS
    #LOC_NFSolar_ModuleCurvedSolarPanel_ModuleName = 湾曲太陽発電パネル
    #LOC_NFSolar_ModuleCurvedSolarPanel_PartInfo = 最大発電率: <<1>> Ec/s
    #LOC_NFSolar_ModuleCurvedSolarPanel_Action_DeployPanelsAction = ソーラーパネルを展開
    #LOC_NFSolar_ModuleCurvedSolarPanel_Action_RetractPanelsAction = ソーラーパネルを収納
    #LOC_NFSolar_ModuleCurvedSolarPanel_Action_TogglePanelsAction = 切り替え

    #LOC_NFSolar_ModuleCurvedSolarPanel_Event_DeployPanels = ソーラーパネルを展開
    #LOC_NFSolar_ModuleCurvedSolarPanel_Event_RetractPanels = ソーラーパネルを収納
    #LOC_NFSolar_ModuleCurvedSolarPanel_Event_TogglePanels =切り替え

    #LOC_NFSolar_ModuleCurvedSolarPanel_Field_SunExposure = 受光 
    #LOC_NFSolar_ModuleCurvedSolarPanel_Field_SunExposure_Blocked = <<1>>に遮断されています。
    #LOC_NFSolar_ModuleCurvedSolarPanel_Field_SunExposure_Broken = 破損
    #LOC_NFSolar_ModuleCurvedSolarPanel_Field_SunExposure_Retracted = パネル収納
    #LOC_NFSolar_ModuleCurvedSolarPanel_Field_EnergyFlow = 発電量
    #LOC_NFSolar_ModuleCurvedSolarPanel_Field_EnergyFlow_Blocked = <<1>>に遮断されています。
    #LOC_NFSolar_ModuleCurvedSolarPanel_Field_EnergyFlow_Broken = 破損
    #LOC_NFSolar_ModuleCurvedSolarPanel_Field_EnergyFlow_Retracted = パネル収納

  }
}
